.footer-main {
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 30px !important;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 20px;
    margin-top: 30px;
}

.footer_title_top {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

.logo_footer {
    height: 80px;
}

.slogan {
    color: #103667;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}

.copyright {
    line-height: 30px;
}


footer .subheading {
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .heading-section {
    font-size: 30px;
    text-transform: uppercase;
}

footer .footer-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

footer .footer-heading .logo {
    color: #103667;
}

footer p {
    color: black;
}

footer a {
    color: black;
}

footer .list-unstyled li a {
    color: black;
    opacity: 0.8;
}

footer .list-unstyled li a:hover {
    opacity: 1;
}

footer .subscribe-form {
    border-radius: 40px;
    background: none;
    padding: 3px;
    border: 1px solid rgb(170, 170, 170);
}

footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

footer .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 16px;
    height: 56px;
    border-radius: 0;
}

footer .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important;
}

footer .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important;
}

footer .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.3) !important;
}

footer .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important;
}

footer .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

footer .subscribe-form .form-group .submit {
    color: white !important;
    display: block;
    width: 150px;
    height: 56px;
    font-size: 14px;
    background: #103667 !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
}

footer .subscribe-form .form-group .submit:hover,
footer .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
}